.container {
  display: flex;
}
header {
  display: block;
}
#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.btn {
  color: black;
}
